/* CSS declarations go here */
#tabBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #FF1300;
}

#render-target {
    border-style: solid;
    border-width: 1px;
    border-color: #0000FF;
}
